[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
llama-index = "*"
langchain = "*"
streamlit-antd-components = "*"
llama-index-embeddings-huggingface = "*"
llama-index-embeddings-gemini = "*"
llama-index-llms-gemini = "*"
chromadb = "*"
qdrant-client = "*"
llama-index-vector-stores-qdrant = "*"

[dev-packages]

[requires]
python_version = "3.11"
